<section class="p-3 p-lg-5 d-flex align-items-center" id="education">
  <div class="w-100">
    <h4 class="mb-5">Education</h4>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h5 class="mb-0">University of Central Missouri</h5>
        <div class="subheading mb-3">Masters in Computer Science</div>
        <p>GPA: 3.8</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Jan 2016 - May 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h5 class="mb-0">JNTU Hyderabad</h5>
        <div class="subheading mb-3">Bachelor of technology</div>
        <div> Major - Computer Science</div>
        <p>GPA: 3.56</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Aug 2010 - June 2014</span>
      </div>
    </div>

  </div>
</section>