<section class="resume-section back-imag p-3 p-lg-5 d-flex align-items-center" id="about">
  <div class="w-100" id="about">
    <h3>Welcome to my Portfolio</h3>
    <h4 class="Intro">Introduction:</h4>
    <p class="para">Hello everyone! I am <b>Nithish Peddi</b>. 
      I spent most of my childhood experiencing the growth in internet and technology. My curiosity to learn
      new technologies made me complete my under-graduation in
      Computer Science.
      My dream to become a software engineer and to contribute to the real time world by learning advanced
      technologies made me also to get a Masters degree in
      Computer Science in the United States.
    </p>

    <p class="para">
                       I am an experienced and motivated web developer with more than 3 years of working experience in different domains.
      I show enthusiasm towards learning new technologies and I get updated with dynamic client side frameworks &
      libraries. I
      deliver responsive, compatible and 
      secured user interface along with W3C standards and ADA compliance to provide intuitive and consistent user
      interface.</p>

  </div>
</section>