<section class="p-3 p-lg-5 d-flex align-items-center" id="awards">
  <div class="w-100">
    <h4 class="mb-5">Contact Information</h4>
    <ul style="list-style: none">
      <li>Jefferson Avenue,</li>
      <li>Cincinnati,</li>
      <li>OH, 45220.</li>
      <li> Mobile: 9134015***(prefer linkedin to reach me)</li>
      <li>Email : <a href="mailto:nithish.ui@outlook.com"> nithish@outlook.com</a></li>
      <li>Linkedin : <i class="fa fa-linkedin"></i> <a href="https://www.linkedin.com/in/nithishpeddi58/"
          target="_blank"> https://www.linkedin.com/in/nithishpeddi58/</a></li>
      <li>Twitter: <i class="fa fa-twitter"></i> <a href="https://twitter.com/nithishpeddi58" target="_blank">
          https://twitter.com/nithishpeddi58</a></li>
      <li>Github : <i class="fa fa-github"></i><a href="https://github.com/nithishpeddi" target="_blank">
          https://github.com/nithishpeddi</a></li>
    </ul>


    <p>
      <!-- 01)Knowledge and interest in computer systems and the latest technologies
        02)The ability to learn new technologies quickly
        03)An analytical mind
        04)The ability to communicate complex procedures to other colleagues
        05)Commercial and business awareness
        06)Good communication skills – both written and verbal
        07)Attention to detail and desire to probe further into data -->

    </p>
  </div>
</section>