<section class="p-3 p-lg-5 d-flex justify-content-center" id="experience">
  <div class="w-100">
    <h4 class="mb-5">Experience</h4>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h5 class="mb-0">Web Developer</h5>
        <div class="subheading mb-3">Client: <b>CVS Health</b></div>
        <ul style="list-style-type: none">
          <li>
            <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Worked on Design and Development of
            Angular 5 Single Page Applications (Health Domain) using Agile
            methodology.<br>
          </li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Implemented the Central Login
            Authentication and Authorization for multiple applications having
            common landing page.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Worked on Implementation of OAuth
            2.0 Token based SSO(Single Sign On).<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used MVC design patterns in
            implementing web applications.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Developed reusable
            components/libraries to be hosted in private repository within CVS health network.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used TFS (Team Foundation Server)
            to track the user stories and defects.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used Jenkins and PCF cloud for
            maintenance, continues Integration and deployment.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used the Ng2Smart table for the
            users to see the large vliume of data with Pagination, Sorting,
            Filtering
            and Searching.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Implemented socket programming
            using stomp js library for pill/drug image verification.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Integrated the data from various
            back-end services like TIBCO, Java and external application.<br></li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Nov 2017 - Present</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h5 class="mb-0">Web Developer</h5>
        <div class="subheading mb-3">Client: <b>Microsoft </b></div>
        <ul style="list-style-type: none">
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Worked with UX Design teams for
            prototyping UI deliverable, such as wire-frames, flowcharts,
            screen mock-ups, and interface design specifications.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used identity providers for login,
            that will be authenticated via Azure Active Directory
            (policies) and authorized via Users Security Group.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Application is build to display the
            devices complex data showing hierarchy of data with
            multiple cascading accordions.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Have given role based access to the
            users to view, edit and delete the devices information.</li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Implemented Angular 2 concepts-
            lazy loading, dependency injection , single responsibility,
            routing , Interpolation etc..<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used Karma for Unit testing and
            Jasmine framework to enhance the test script.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Worked with AZURE cloud platforms
            for configuring , deployments and maintenance.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used Bulma light weight framework
            to achieve 100% responsiveness.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used Reactive Extensions (Rxjs) for
            asynchronous data streams with Observable.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used Web pack 3 build tool , which
            improves performance of the application.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Worked on web storage such as
            Session Storage and Local Storage.</li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">May 2017 - Oct 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h5 class="mb-0">Software Engineer Intern</h5>
        <div class="subheading mb-3">client : <b>Positronic IO </b></div>
        <ul style="list-style: none">
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Used Bootstrap 3 library to quickly
            build project UI and AngularJS framework to associate
            HTML elements to models.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Worked with QA team on daily basis
            in fixing the reported bugs/defects and checking cross
            platform compatibility.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Successfully performed the RESTful
            API’s Integration using JSON.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Developed custom directive factories
            and services in Angular JS.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Generated reports that summarized
            the network flow, performance, service time and crash
            reports of the websites.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Worked on debugging JavaScript and
            html code with Firefox, Chrome and IE.<br></li>
          <li><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Implemented OAuth 2.0 authentication
            using Google API client library.<br></li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Jan 2017 - May 2017</span>
      </div>
    </div>

    <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
      <div class="resume-content">
        <h5 class="mb-0">Inforica Pvt. Ltd</h5>
        <div class="subheading mb-3">Junior UI Developer</div>
        <ul style="list-style: none">
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Coordinated with BA group for
            better understanding of functional requirements. Analyzed
            and gathered the business requirements.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Developed web pages with
            functionalities like login, sign up, forget password, email, filters
            using JavaScript, JQuery.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Designed, developed and updated
            user interface web forms using CSS3, Dreamweaver and
            JavaScript.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Implemented Accordions, Drop
            downs, Pop up Screens using jQuery and other 3rd party libraries upon
            user request.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Learned to understand the
            Document Object Model (DOM), Browser Object Model (BOM) and Web
            Standards.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Involved In writing SQL
            Queries, fixed bugs and provided support services for the application.<br></li>
          <li> <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Implemented session
            cookies to store user info and keep track of the website activity<br></li>
        </ul>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">June 2014 - Nov 2015</span>
      </div>
    </div>

  </div>

</section>