<section class="p-3 p-lg-5 d-flex align-items-center" id="skills">
  <div class="w-100">
    <h4 class="mb-5">Skills</h4>

    <div class="subheading mb-3">Programming Languages &amp; Tools</div>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <i class="fa fa-html5">HTML5</i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-css3-alt">CSS3</i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-js-square">JavaScript</i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-angular">Angular</i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-react">React</i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-node-js">Node.js</i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-sass"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-less"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-wordpress"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-gulp"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-grunt"></i>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-npm">NPM</i>
      </li>
    </ul>

    <div class="subheading mb-3">Workflow</div>
    <ul class="fa-ul mb-0">
      <li>
        <i class="fa-li fa fa-check"></i>
        Mobile-First, Responsive Design</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Cross Browser Testing &amp; Debugging</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Cross Functional Teams</li>
      <li>
        <i class="fa-li fa fa-check"></i>
        Agile Development &amp; Scrum</li>
    </ul>
  </div>
</section>