<!--The content below is only a placeholder and can be replaced.-->

<!-- <app-header></app-header> -->
<div class="fluid-container">
  <div class="row">
    <div class="col-md-3">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <span>Nithish Peddi</span>
          <span class="d-none d-lg-block">
            <img class="img-fluid img-profile" src="../assets/images/profile1.jpg" alt="">
          </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/about" routerLinkActive="active">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/experince" routerLinkActive="active">Experience</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/education" routerLinkActive="active">Education</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" target="_blank" href="https://nithishwebtech.blogspot.com/">Blog Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/interest" routerLinkActive="active">Interests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link scroll-link" routerLink="/contact" routerLinkActive="active">Contacts</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-md-9">
      <main class="main-container">
        <div class="container-fluid p-0 back-imag">
          <router-outlet></router-outlet>
          <hr class="m-0">
        </div>
      </main>
    </div>
  </div>
</div>
<app-footer></app-footer>
