<section class="p-3 p-lg-5 d-flex align-items-center" id="interests">
  <div class="w-100">
    <h4 class="mb-5">Interests</h4>
    <p>Apart from being a web developer, I enjoy most of my time being outdoors. In the winter, I pretty much prefer spend time on video games
      . During the warmer months, I enjoy hiking, kayaking,volley ball and cricket.</p>
    <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television
      shows,
      I am an aspiring chef, and I spend a large amount of my free time exploring the latest technology
      advancements
      in the front-end web development world.</p>
  </div>
</section>